# ignore .fif files
# file format for mne analysis
*.fif

# ignore .png files
# generated images
*.png

# ignore .html files
# generated html
*.html

# ignore .npy files
# saved numpy data
*.npy

# ignore .path files
# a text file that defines the path
*.path

# ignore .swp files
# temporary vim files
*.swp

# ignore the ipython check-points
examples/.ipynb_checkpoints/
